.shop__container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin-bottom: 50px;
}
.product__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.cart__container {
  margin-top: 100px;
  margin-left: 50px;
  background-color: aquamarine;
}

/* Media Query */

@media screen and (max-width: 576px) {
  .product__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .shop__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 50px;
  }
  .cart__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
