.cart {
  position: sticky;
  top: 0;
  margin-top: 30px;
  padding-left: 50px;
  /* text-align: center; */
}
.table__image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.buttons {
  margin-right: 20px;
}
